In [10]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
ride_data_complete = pd.merge(ride_data, city_data, how="left", on=["city", "city"])

# Display the data table for preview
ride_data_complete.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [2]:
# Count number of rides in each city
ride_total = ride_data_complete.groupby(["city"]).count()["ride_id"]

# Find the average ride fare in each city
ride_fare_avg = ride_data_complete.groupby(["city"]).agg(
{
        "fare":"mean"
    
})["fare"]

# Determine the city type (Urban, Suburban, or Rural)
city_type = city_data.set_index(["city"])["type"]


# Determine the driver count for each city
driver_count = ride_data_complete.groupby(["city"]).agg(
{
        "driver_count":"mean"

})["driver_count"]

# Create a dataframe that displays all of the previous information
ride_summary_df = pd.DataFrame({
     "ride_total": ride_total,
     "ride_fare_avg": ride_fare_avg,
     "driver_count": driver_count,
     "city_type": city_type
})

urban_data = ride_summary_df.loc[ride_summary_df["city_type"] == "Urban"]
suburban_data = ride_summary_df.loc[ride_summary_df["city_type"] == "Suburban"]
rural_data = ride_summary_df.loc[ride_summary_df["city_type"] == "Rural"]

ride_total.head()

city
Amandaburgh      18
Barajasview      22
Barronchester    16
Bethanyland      18
Bradshawfurt     10
Name: ride_id, dtype: int64

## Bubble Plot of Ride Sharing Data

In [19]:
# Obtain the x and y coordinates for each of the three city types

x_urban = urban_data["ride_total"]
y_urban = urban_data["ride_fare_avg"]

x_suburban = suburban_data["ride_total"]
y_suburban = suburban_data["ride_fare_avg"]

x_rural = rural_data["ride_total"]
y_rural = rural_data["ride_fare_avg"]

# Build the scatter plots for each city types
plt.scatter(x_urban, y_urban, marker="o", facecolors="lightcoral", edgecolors="black",
            s=urban_data["driver_count"]*10, alpha=0.55)
plt.scatter(x_suburban, y_suburban, marker="o", facecolors="lightskyblue", edgecolors="black",
            s=suburban_data["driver_count"]*10, alpha=0.75)
plt.scatter(x_rural, y_rural, marker="o", facecolors="gold", edgecolors="black",
            s=rural_data["driver_count"]*10, alpha=1)

# Incorporate the other graph properties
plt.title("Pyber Ride Sharing Data (2016)")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")
plt.legend()
plt.grid()

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

SyntaxError: keyword can't be an expression (<ipython-input-19-a0c5f3ce1db6>, line 24)

# Show plot
plt.show()

## Total Fares by City Type

In [4]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [5]:
# Show Figure
plt.show()

## Total Rides by City Type

In [6]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [7]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [8]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [9]:
# Show Figure
plt.show()